*{
    margin: 0;
    padding: 0;
}

.box{
    position: relative;
    background-color: antiquewhite;
    height: 30vh; 
}

.box:hover>div{
    left: 90%;
}


.div1{
    position: absolute; 
    left: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 50px;
    transition: all 4s ease-in-out;
}

.div2{
    position: absolute; 
    left: 0;
    width: 100px;
    height: 100px;
    background-color: green;
    transform: translateY(110px);
    transition: all 3s 1s ease-in-out;
}
